extends layout

block content
  a(style="font-size:40px;", href="/auth/signin") sign in
  br
  a(style="font-size:40px;", href="/auth/signup") sign up
  br
  a(style="font-size:40px;", href="/auth/signout") sign out
  br
  a(style="font-size:40px;", href="/test") chat room
  br
  h1= title
  p Welcome to #{title}

