doctype html
html(lang="jp")
  head
    title Signup
    link(rel="stylesheet", href="/stylesheets/signup.css")
  body
    .wrapper
      .container
        h1 Sing Up
        form(role='form' method='POST' action='signup').form
          input(type="text",name="username", placeholder="Username",autocomplete="username")
          input(type="password",name="password", placeholder="Password",autocomplete="new-password")
          button#login-button(type="submit") Signup
      ul.bg-bubbles
        li
        li
        li
        li
        li
        li
        li
        li
        li
        li