doctype html
html(lang="jp")
  head
    title Signin
    link(rel="stylesheet", href="/stylesheets/signin.css")
  body
    .wrapper
      .container
        h1 Welcome
        form(role='form' method='POST' action='signin').form
          input(type="text",name="username", placeholder="Username",autocomplete="username")
          input(type="password",name="password", placeholder="Password",autocomplete="new-password")
          button#login-button(type="submit") Signin
      ul.bg-bubbles
        li
        li
        li
        li
        li
        li
        li
        li
        li
        li